.sideber{

    .siteber-item{ 
        padding: 30px;
        border: 1px solid $border-color;
        margin-bottom: 40px;
    
        .siteber-title{
            font-size: 24px;
            font-weight: 600;
            margin-bottom: 20px;
            padding-bottom: 18px;
            border-bottom: 1px solid $border-color;
        }

        // categoris 
        .siteber-categoris{
            ul{
                li{

                    margin-bottom: 10px;

                    &:last-child{
                        margin-bottom: 0;
                    }

                    a{
                        display: flex;
                        align-items: center;

                        &::before{
                            display: inline-block;
                            text-rendering: auto;
                            -webkit-font-smoothing: antialiased;
                            font: var(--fa-font-solid);
                            content: "\f30b";
                            font-size: 10px;
                            color: #666666;
                            margin-right: 5px;
                        }

                        span{
                            display: block;
                            font-size: 14px;
                            color: $body-color;

                            &:first-child:hover{
                                color: $primary-color;
                            }

                            &:last-child{
                                margin-left: auto;
                            }
                        }

                    }
 
                }
            }
        }

        // populer post
        .siteber-populer-post{
            .populer-item{
                display: flex;
                margin-bottom: 30px;

                &:last-child{
                    margin-bottom: 0;
                }

                .img{
                    width: 100px;
                    height: 85px;

                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .content{
                    width: calc(100% - 100px);
                    padding-left: 10px;

                    a{
                        display: block;

                        &.categoris{
                            font-size: 12px;
                            color: $body-color;

                            &:hover{
                               color: $title-color;
                            }
                        }

                        &.populer-title{
                            font-size: 13px;
                            font-family: $title-font;
                            font-weight: 600;
                            color: $title-color;

                            &:hover{
                                color: $primary-color;
                            }
                        }
                    }

                    .calender{
                        display: flex;
                        align-items: center;
                        margin-top: 8px;
                        
                        i{
                            font-size: 11px;
                            color: $primary-color;
                        }

                        span {
                            font-size: 11px;
                            color: $body-color;
                            padding-left: 5px;
                        }

                    }
                    
                }
            }
        }

        // Subscribe 
        .subscribe-area{
            p{
                font-size: 14px;
                line-height: 26px;
            }

            input{
                width: 100%;
                display: block;
                padding: 10px;
                border: 1px solid $border-color;
                margin-bottom: 20px;
            }

            button{
                border: 0;
                padding: 15px 50px;
                background-color: $title-color;
                color: #fff;
                font-size: 14px;
                font-weight: 700;
                text-transform: uppercase;
                transition: all 0.3s;

                &:hover{
                    background-color: $primary-color;
                }
            }


        }

        // most visited 
        .most-visited{
            .info{
                display: flex;
                align-items: center;
                margin-top: 15px;
                margin-bottom: 10px;
        
                .date,
                .comment{
                    font-size: 12px;
                    margin-right: 10px;
                    
                    &::before{
                        display: inline-block;
                        text-rendering: auto;
                        -webkit-font-smoothing: antialiased;
                        font: var(--fa-font-solid);
                        content: "\f30b";
                        font-size: 10px;
                        color: #666666;
                        margin-right: 5px;
                    }

                    span{
                        display: inline-block;
                        margin-left: 3px;
                    }
                }
            }
            
            h4{
                a{
                    font-size: 16px;
                    font-weight: 500;
                    color: $title-color;
                }
            }
        }

        // populer tags
        .populer-tags-area{
            display: flex;
            flex-wrap: wrap;

            li{
                a{
                    font-size: 13px;
                    padding: 10px 15px;
                    color: $body-color;
                    border: 1px solid $border-color;
                    margin-bottom: 9px;
                    margin-right: 7px;
                    display: inline-block;
                }
            }
        }
    }
}




